.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
}
.center {
    border: 1px solid black;
    justify-items: center;
    vertical-align: middle;
    justify-content: center;
    display: grid;
    padding: 10px;
  }