.all {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}
.newses {
    display: grid;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
    border: 3px #37003c;
    border-style:double;
  }
.red {
    color:red;
}
img{
    width: 500px;
    width: 450px;
}
a{
    color:rgb(55, 0, 60);
}
p {
    text-align: justify;
  }